@using T3.Core.Domain
@model IList<Employee>

<ul class="nav nav-pills nav-stacked" style="margin-bottom: 5%">
    <li class="active">
        <a href="/Bill/Index">Alle rekeningen</a>
    </li>

    @foreach (Employee Employee in Model)
    {
        <li>
            <a href="#" onclick="showBillsWithEmployee(@Employee.Id)">@Employee.Name</a>
        </li>

    }
</ul>