@using T3.Core.Domain
@using T3.Web.Models
@model BillIndexViewModel
@{
    ViewData["Title"] = "Rekeningen";
}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_Employees", Model.Employees)
        </div>

        <div class="col-md-9">
            @await Html.PartialAsync("_Bills", Model.Bills)
        </div>
    </div>
</div>
@section Scripts {
    <script>
        let bills = @(Json.Serialize(Model.Bills));
        let employees = @(Json.Serialize(Model.Employees));
    </script>
    <script src="~/js/bill.index.js"></script>
}