body {
    padding-top: 70px /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.caption {
    height: 130px;
    overflow: hidden
}

    .caption h4 {
        white-space: nowrap
    }

.thumbnail img {
    width: 100%
}

.stock {
    margin: auto;
    width: 60%;
    padding: 10px
}

.thumbnail {
    padding: 0
}

    .thumbnail .caption-full {
        padding: 9px;
        color: #333
    }

footer {
    margin: 50px 0
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black
}

    .bill-container h3 {
        text-align: center
    }

    .bill-container h4 {
        padding: 2%;
        padding-bottom: 0px;
        margin-bottom: 0px
    }

    .bill-container p {
        padding: 5%;
        padding-bottom: 0px;
        padding-top: 0px;
        margin: 0px
    }

    .bill-container a p:last-child {
        padding-bottom: 5%
    }

p {
    white-space: pre-wrap
}

body {
    background-color: #f9fbfc
}

.primaryColor {
    color: #009093 !important
}

.bgPrimaryColor {
    background-color: #009093 !important
}

.active > a { /* Needed to style the nav-pills active item in Account/Manage/Index*/
    background-color: #009093 !important
}

.btnBgPrimaryColor, .btnBgPrimaryColor:hover {
    background-color: #009093 !important;
    color: white !important
}

.btn-link {
    text-decoration: none !important
}