body {
    padding-top: 70px /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.caption {
    height: 130px;
    overflow: hidden
}

    .caption h4 {
        white-space: nowrap
    }

.thumbnail img {
    width: 100%
}

.stock {
    margin: auto;
    width: 60%;
    padding: 10px
}

.thumbnail {
    padding: 0
}

    .thumbnail .caption-full {
        padding: 9px;
        color: #333
    }

footer {
    margin: 50px 0
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black
}

.bill-container {
    border-width: 2px !important
}
    .bill-container h3 {
        text-align: center
    }

    .bill-container h4 {
        padding: 2%;
        padding-bottom: 0px;
        margin-bottom: 0px
    }

    .bill-container p {
        padding: 5%;
        padding-bottom: 0px;
        padding-top: 0px;
        margin: 0px
    }

    .bill-container a p:last-child {
        padding-bottom: 5%
    }

hr {
    border-width: 2px
}

.employeeTitle_InsideBill {
    padding: 2%;
    padding-bottom: 0px;
    margin-bottom: 0px
}

.employeeList_InsideBill {
    white-space: pre-wrap
}